---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.button {
  padding: 15px;
  border-radius: 15px 35px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #ebeef5; /* Grey */
}
