---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.page-header {
  button {
    padding: 5px 10px;
    margin: 5px 5px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: #ebeef5; /* Grey */
  }
}
